version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    commit-message:
      prefix: chore
      include: scope
    groups:
      pip-dependencies:
        applies-to: version-updates
        update-types: [minor, patch]
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    commit-message:
      prefix: chore
      include: scope
    groups:
      npm-dependencies:
        applies-to: version-updates
        update-types: [minor, patch]
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    commit-message:
      prefix: chore
      include: scope
    groups:
      github-action-dependencies:
        applies-to: version-updates
        update-types: [minor, patch]
        patterns:
          - "*"
