.plaid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.plaid_container_table {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plaid_btn {
  /* height: 70px;
  width: 30%;
  font-size: 25px; */
}